.ad_item{
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 64px;
	.ad_cont{
		margin-right: 2px;
		flex: 1;
		overflow: hidden;
		display: flex;
		align-items: center;
	}
	.ad_logo {
		margin-right: 8px;
		width: 48px;
		height: 48px;
		border-radius: 8px;
	}
	.ad_info {
		flex: 1;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		.ad_tit {
			font-weight: 500;
			@include text-ellipsis(1);
			@include fontSize(14px);
			@include lineHeight(20px);
			color: var(--color-downad-text);
		}
		.ad_desc{
			margin-top: 2px;
			@include text-ellipsis(1);
			@include fontSize(10px);
			@include lineHeight(14px);
			color: var(--color-4);
		}
		.ad_link_wrap{
			margin-top: 2px;
			display: flex;
			align-items: center;
			@include fontSize(10px);
			@include lineHeight(14px);
			color: var(--color-4);
		}
		.ad_version{
			max-width: 30%;
			@include text-ellipsis(1);
		}
		.ad_text{
			max-width: 18%;
			@include text-ellipsis(1);
		}
		.ad_link_line {
			margin: 0 4px;
			width: 1px;
			height: 8px;
			background-color: var(--color-4);
		}
	}
}

.bg_img_top{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 157px;
	height: 69px;
}
.bg_img_bottom{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 149px;
	height: 64px;
}
